body {
	background-image: url(images/tree_bark.png);
	color: #000;
	font-family: 'Nunito', sans-serif;	
	margin: 0;
	font-size: 0.625em;
}

header {
	width: 100%;
}

#container {
	position: relative;
	padding-bottom: 10em;
	text-align: center;
}

p {
	text-align: left;
}

a {
	cursor: pointer;
}

label {
	font-size: 1.6em;
}

#email {
	margin-right: 0.15em;
}

input {
	width: 10em;
	font-size: 1.5em;
}

#submit {
	width: 4em;
}

textarea {
	width: 49.3em;
	height: 15em;
	font-size: 1em;
	resize: none;
	
}
.textbox {
	position: relative;
	background: rgba(0,105,87,0.44);
	height: auto;
	width: 70em;
	border-radius: 0.5em;
	margin: auto;
	margin-top: 3em;
	padding: 0px 10px 10px 10px;
}

h1, .projectbutton {
	text-align: left;
	margin-top: 0;
	font-size: 4em;
	border-bottom: 0.1em solid #000;
}

#aboutbox, #projectbox {
	position: relative;
	height: auto;
	width: 75em;
	border-radius: 0.5em;
	margin: auto;
	margin-top: 3em;
	text-align: left;
}

#profile {
	vertical-align: top;
	position: relative;
	display: inline-block;
	background: rgba(0,105,87,0.44);
	height: auto;
	width: 20em;
	margin: 0;
	border-radius: 0.5em;
	padding: 0px 1em 1em 1em;
}

#abouttext, #contactbox {
	position: relative;
	display: inline-block;
	background: rgba(0,105,87,0.44);
	height: auto;
	width: 50em;
	border-radius: 0.5em;
	margin: 0;
	margin-left: 0.5em;
	padding: 0px 1em 1em 1em;
}

#contactbox {
	margin: 0;
	margin-right: 0.5em;
}

.projectcontent {
	display: none;
	width: 74em;
	background: rgba(0,105,87,0.44);
	padding: 0.5em;
	margin-top: -1.2em;
	padding-top: 1em;
	border-radius: 0 0 0.5em 0.5em;
}

.projecthead > h1 {
	margin-bottom: 0;
}

footer {
	background: rgba(0, 105, 87, 0.7);
	width: 100%;
	position: absolute;
	left: 0%;
	display: none;
}

footer > a {
	text-decoration: none;
}

#nav > ul { 
	position: relative;
	top:2em;
	width: auto;
	margin: auto; 
	padding: 2em; 
	list-style-type: none; 
	text-align: center; 
	border-bottom-style: solid;
	border-bottom-width: 2em;
	border-bottom-color: #006957;
	border-top-style: solid;
	border-top-width: 0.5em;
	border-top-color: #006957;
	margin-bottom: 2em;
}
 
#nav > ul > li {  
	display: inline; 
	position: relative;
	font-family: 'Nunito', sans-serif;
	font-size: 2em;
	width: 4em;
	} 
 
#nav > ul > li > a {
	text-decoration: none;
	padding: .2em 1em;
	color: #000;
	background-color: rbg(27, 27 ,27);
	} 
 
#nav > ul > li > a:hover { 
	color: #00a287; 
	} 

.thispage {
	background: #006957;
	border-bottom: 1.3em solid #006957;
	border-radius: 0.3em;
}
	
#headerimg {
	display: block;
	margin-left:auto;
	margin-right:auto;
	position: relative;
	top:0px;
	width:15em;
}
	
#logo {
	display: inline-block;
	position: relative;
	width: 10em;
	margin-top: -5em;
   margin-bottom: -5em;
}

#twitter {
		display: inline-block;
		position: relative;
		width: 6em;
		height: 6em;
		background: url(images/twitter.png) no-repeat;
		background-size: 6em;
	}

#twitter:hover {
		display: inline-block;
		position: relative;
		width: 6em;
		height: 6em;
		background: url(images/twitter_hover.png) no-repeat;
		background-size: 6em;
	}
	
#jimbutton {
		display: inline-block;
		position: relative;
		width: 6em;
		height: 6em;
		background: url(images/jimbutton.png) no-repeat;
		background-size: 6em;	
	}

#jimbutton:hover {
		display: inline-block;
		position: relative;
		width: 6em;
		height: 6em;
		background: url(images/jimbutton_hover.png) no-repeat;
		background-size: 6em;	
	}
	
#facebook {
		display: inline-block;
		position: relative;
		width: 6em;
		height: 6em;
		background: url(images/fbbutton.png) no-repeat;
		background-size: 6em;
	}

#facebook:hover {
		display: inline-block;
		position: relative;
		width: 6em;
		height: 6em;
		background: url(images/fbbutton_hover.png) no-repeat;
		background-size: 6em;
	}

#profileimg {
	position: relative;
	width: 100%;
	margin-top: 1em;
}

#projectbox img {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.projectbutton {
	width: 18.75em;
	background: #006957;
	border: none;
	border-radius: 0.2em;
}

.projectbutton:active {
	outline: 0;
	border: 0;
}

.projectbutton:focus {
	outline: 0;
}

#cat {
	width: 40em;
}